.number {
  border: 1px solid #cccccc;
  border-radius: 25px;
}

// @media only screen and (max-width: 600px) {
//   .hidden-sm{
//     display: none;
//   }
// }
/*.p{
  margin-left: 30%;
}*/
.fab{
  margin-right: 35%;
  margin-left:40%;
}

.pf{
  margin-right:30%;
}
ion-content{
  --ion-background-color: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}

.p{
text-align: center;
}
